.content {
  display: flex;
}
.details {
  width: 400px;
  padding: 0;
}
.map-container {
  width: 400px;
  height: 400px;
  margin: 0 0 0 20px;
  padding: 0;
}

.buttons {
  width: 400px;
  display: flex;
  flex-direction: column;
}

div button {
  color: black;
  height: 3rem;
  width: 12rem;
  margin: 0.2em 2em;
  font-size: 1rem;
  border-radius: 10rem;
  border: none;
  opacity: 1;
  outline: none;
  font-weight: bold;
}

div button:hover {
  opacity: 0.9;
  cursor: pointer;
}
